extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Help Page
        p If you need assistance with using the ChatBot Application, please refer to the FAQ or contact support.
        ul
          li: a(href='/help/faq') Frequently Asked Questions
          li: a(href='/contact') Contact Support
