extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
  h1 Contact Us
  p If you have any questions or need assistance, feel free to reach out to us using the contact form below.
  p You can also contact us through the following methods:
  ul
    li: a(href='mailto:knrithiknair@example.com') Email: knrithiknair@example.com
    li: a(href='tel:+919490488053') Phone: +91 9490488053
    li: a(href='/help/faq') Frequently Asked Questions
